asgiref==3.4.1
autopep8==1.6.0
beautifulsoup4==4.12.2
Brotli==1.1.0
click==8.1.7
colorama==0.4.6
distlib==0.3.9
Django==4.0.1
django-bootstrap4==23.4
django-chartjs==2.3.0
django-cors-headers==3.11.0
django-environ==0.11.2
django-rest-knox==5.0.2
django-rest-passwordreset==1.4.2
djangorestframework==3.13.1
djangorestframework-simplejwt==5.0.0
filelock==3.16.1
gunicorn==21.2.0
h11==0.14.0
packaging==23.2
pillow==10.4.0
platformdirs==4.3.6
psycopg2==2.9.9
psycopg2-binary==2.9.9
pycodestyle==2.8.0
PyJWT==2.3.0
pytz==2021.3
setuptools==69.0.2
soupsieve==2.5
sqlparse==0.4.2
toml==0.10.2
tzdata==2021.5
uvicorn==0.27.1
virtualenv==20.27.1
whitenoise==6.6.0
